@charset "utf-8";

body{
  background-color: #FF6666;
}

#main{
  width: 798px; /* 960-2*(80[padding]+1[border])  */
  margin: 40px auto;
  padding: 40px 80px;
  border: yellow 1px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px;
}

.moyasi_picture:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
  width: 468px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

#ingredient{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

th{
  border: 1px solid lightcoral;  
  background-color: mistyrose;   
  padding: 5px;                  
  width: 100px;                  
  text-align: center;           
}

td{
  border: 1px solid lightcoral;  
  padding: 5px;                  
  width: 80px;                  
  text-align: right;            
}

caption{
  padding: 5px;              
}

#price{
  background-color: lightyellow;  
}

thead th, tfoot th{
  background-color: white;        
}

thead td{
  color: white;                   
  background-color: lightcoral;   
  text-align: center;            
}

tfoot td{
  font-weight: bold;             
  background-color: white;       
}
