@charset "utf-8";

body{
  background-color: #FF6666;
}

#main{
  width: 798px; /* 960-2*(80[padding]+1[border])  */
  margin: 40px auto;
  padding: 40px 80px;
  border: yellow 1px solid;
  background-color: white;
}
/* --- 見出し --- */
h3.heading {
width: 570px; /* 見出しの幅 */
margin: 0 0 1em; /* 見出しのマージン（上、左右、下） */
padding: 20px 15px; /* 見出しのパディング（上下、左右） */
background: #c6e6ef url(heading_back4_1.gif) repeat-x top; /* 見出しの背景 */
font-size: 120%; /* 見出しの文字サイズ */
line-height: 100%;
}


.photo{
  float: left;
  margin-right: 30px;
}

.moyasi_picture:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
  width: 468px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

#ingredient{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

th{
  border: 1px solid lightcoral;  
  background-color: mistyrose;   
  padding: 5px;                  
  width: 100px;                  
  text-align: center;           
}

td{
  border: 1px solid lightcoral;  
  padding: 5px;                  
  width: 80px;                  
  text-align: right;            
}

caption{
  padding: 5px;              
}

#price{
  background-color: lightyellow;  
}

thead th, tfoot th{
  background-color: white;        
}

thead td{
  color: white;                   
  background-color: lightcoral;   
  text-align: center;            
}

tfoot td{
  font-weight: bold;             
  background-color: white;       
}
#gnav a {
  display: block;
  text-align: center; /* 中央揃え */
  text-decoration: none;/* 下線を消す */
  color: white;
}
#gnav a:after {
    clear: both;
}
#gnav div.img {
  display: table-cell;
  vertical-align: middle;
  background: url(../img/css_sprite.png) no-repeat;
  width: 55px;
  height: 46px;
}
#gnav div.text {
  display: table-cell;
  vertical-align: middle;
  padding:10px 5px; /* 上下に空間を確保する  */
}
div.img#home{    background-position: 0 0px;}
div.img#content1 {background-position: 0 -46px;}
div.img#content2{background-position: 0 -92px;}
div.img#help{    background-position: 0 -148px;}
div.img#faq{     background-position: 0 -184px;}

#gnav a:hover {
  background: lightgreen;
  color: black;
}

#gnav a.selected {
  background: white;
  color: darkgreen;
  font-weight: bold; /* 太字にしてみる */
}

#gnav ul {
  overflow: hidden;
}


#gnav li {
  float: left;/* 固定幅にするためにfloatで指定 */
  width: 156px;
  border-right: white 1px solid;/* 右に線を引く */
  list-style-type: none;/* 点を消す */
}

#gnav li:first-child {
  border-left: white 1px solid;/* 左にも線を引く */
}
form {
    /* フォームをページの中央に置く */
    margin: 0 auto;
    width: 400px;
    /* フォームの範囲がわかるようにする */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    /* すべてのラベルを同じサイズにして、きちんと揃える */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* すべてのテキストフィールドのフォント設定を一致させる
       デフォルトで、textarea は等幅フォントが設定されている */
    font: 1em sans-serif;

    /* すべてのテキストフィールドを同じサイズにする */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* テキストフィールドのボーダーの外見を同一にする */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* アクティブな要素を少し強調する */
    border-color: #000;
}
textarea {
    /* 複数行のテキストフィールドをラベルにきちんと揃える */
    vertical-align: top;

    /* テキスト入力に十分な領域を与える */
    height: 5em;

    /* ユーザが textarea を垂直方向にリサイズできるようにする
       これが動作しないブラウザもある */
    resize: vertical;
}
.button {
    /* ボタンを他のテキストフィールドと同じ場所に置く */
    padding-left: 90px; /* label 要素と同じサイズ */
}
button {
    /* このマージンは、ラベルとテキストフィールドの間のスペースと
       おおよそ同じスペースを表す */
    margin-left: .5em;
}

