@charset "utf-8";

body{
  background-color: #FF6666;
}

#main{
  width: 798px; /* 960-2*(80[padding]+1[border])  */
  margin: 40px auto;
  padding: 40px 80px;
  border: yellow 1px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px;
}

.moyasi_picture:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
  width: 468px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

#ingredient{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

th{
  border: 1px solid lightcoral;  
  background-color: mistyrose;   
  padding: 5px;                  
  width: 100px;                  
  text-align: center;           
}

td{
  border: 1px solid lightcoral;  
  padding: 5px;                  
  width: 80px;                  
  text-align: right;            
}

caption{
  padding: 5px;              
}

#price{
  background-color: lightyellow;  
}

thead th, tfoot th{
  background-color: white;        
}

thead td{
  color: white;                   
  background-color: lightcoral;   
  text-align: center;            
}

tfoot td{
  font-weight: bold;             
  background-color: white;       
}
#gnav a {
  display: block;
  text-align: center; /* 中央揃え */
  text-decoration: none;/* 下線を消す */
  color: white;
}
#gnav a:after {
    clear: both;
}
#gnav div.img {
  display: table-cell;
  vertical-align: middle;
  background: url(../img/css_sprite.png) no-repeat;
  width: 55px;
  height: 46px;
}
#gnav div.text {
  display: table-cell;
  vertical-align: middle;
  padding:10px 5px; /* 上下に空間を確保する  */
}
div.img#home{    background-position: 0 0px;}
div.img#content1 {background-position: 0 -46px;}
div.img#content2{background-position: 0 -92px;}
div.img#help{    background-position: 0 -148px;}
div.img#faq{     background-position: 0 -184px;}

#gnav a:hover {
  background: lightgreen;
  color: black;
}

#gnav a.selected {
  background: white;
  color: darkgreen;
  font-weight: bold; /* 太字にしてみる */
}

#gnav ul {
  overflow: hidden;
}


#gnav li {
  float: left;/* 固定幅にするためにfloatで指定 */
  width: 156px;
  border-right: white 1px solid;/* 右に線を引く */
  list-style-type: none;/* 点を消す */
}

#gnav li:first-child {
  border-left: white 1px solid;/* 左にも線を引く */
}
